@import "application.css.sass";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(241,227,197);
}

main {
  margin: 1em auto;
  width: 900px;
  height: 600px;
  position: relative;
  /*background-color: rgb(241,227,197);*/
  background-color: white;
}

.score-area {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.score-area p {
  font-size: 1.5em;
}

.landmark {
  position: absolute;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.duq {
  top: 50px;
  left: 50px;
  width: 100px;
}

.blurb-photo {
  width: 80%;
}

.bridge {
  bottom: 100px;
  left: 200px;
  width: 150px;
}

.quiz-area, .blurb-area {
  display: none;
  padding: 1em;
  width: 80%;
  margin: 0 auto;
}

.big-checkmark {
  color: rgb(120,162,47);
}

.visited {
  position: absolute;
  /*color: rgb(120,162,47);*/
  color: white;
  z-index: 100;
}

.timer {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.5em;
}
