<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> -->
  <title>Trivia</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- <link rel="stylesheet" href="stylesheets/style.css"> -->
  <%= stylesheet_link_tag    "style" %>
</head>
<body>


  <div class="container">
    <header>
      <h1>Phipps Climate Change Trivia</h1>
      <!-- <h2>Select A Pittsburgh Landmark To Begin...</h2> -->
    </header>

    <main>
      <div class="welcome-area">
        <br><br>
        <h2>Welcome to our trivia game!</h2>
        <br><br>
        <button disabled class="loading-button btn btn-default btn-lg">Loading...</button>
        <button class="start-button btn btn-default btn-lg">Begin</button>
      </div>

      <div class="map-area" width="900" height="600">
      <!-- <div class="map-area"> -->
        <!-- <img class="map" src="Rivers.png" width="900" height="600"> -->
        <%= image_tag 'Rivers.png' %>
      </div>

      <div class="score-area">
        <p><span class="score">0</span> points</p>
      </div>

      <div class="quiz-area">
        <h3 class="question">Is climate change real?</h3>
        <span class="answers">
        </span>
        <span>
          <h3 class="timer">0 seconds</h3>
        </span>
      </div>

      <div class="blurb-area">
        <span class="result-text">
          <h4>CORRECT! <span class="glyphicon glyphicon-ok"></span> <span class="time-took"></span></h4>
        </span>
        <span class="info-text">
          <h4>Lorem</h4>
        </span>
        <span class="info-pic">
          <p>

            <!-- <img class="blurb-photo" src="duq-blurb.jpg"> -->
            <%= image_tag 'duq-blurb.jpg' %>
          </p>
        </span>
        <button class="to-map btn btn-default btn-lg btn-block">Next</button>
      </div>
    </main>
    
  </div>


  <!-- <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!-- <script src="javascripts/js/jquery.csv.min.js"></script> -->
  <!-- <script src="javascripts/main.js"></script> -->
  <%= javascript_include_tag "main.js" %>

</body>
</html>
